In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [5]:
## Question1
print ("1. Mean of Old Scheme is",df['Old Scheme (in thousands)'].mean())
print ("1. Mean of New Scheme is",df['New Scheme (in thousands)'].mean())

1. Mean of Old Scheme is 68.03333333333333
1. Mean of New Scheme is 72.03333333333333

In [6]:
from scipy.stats import ttest_1samp,ttest_ind
t_stat,p = ttest_ind(df['Old Scheme (in thousands)'] ,df['New Scheme (in thousands)'])

In [7]:
print(t_stat,p)

-0.6937067608923764 0.49063515686248105

In [8]:
if(p < 0.05):
    print("2. Null Hypothesis : There is no significant difference between data sets")
else:
    print ("2. Alternate Hypothesis : There is a significant difference")

2. Alternate Hypothesis : There is a significant difference

In [9]:
if(p < 0.05):
    print("3. As it is Null Hypothesis, we can conclude that new scheme doen't have any significantly raised outputs.")
else:
    print("3. As we reject the Null Hypothesis, we can conclude that new scheme has significantly raised outputs.")

3. As we reject the Null Hypothesis, we can conclude that new scheme has significantly raised outputs.

In [10]:
print ('4.a)As we are using Null hypothesis test, the significance of the alpha is the probability of Type 1 error. which is 0.05')

4.a)As we are using Null hypothesis test, the significance of the alpha is the probability of Type 1 error. which is 0.05

In [11]:
from scipy.stats import ttest_1samp,ttest_ind
t_stat,p2 = ttest_ind(df['Old Scheme (in thousands)'] ,df['New Scheme (in thousands)']+5)
print("4.b) p value of hypothesis",p2)

4.b) p value of hypothesis 0.12400179998875209

In [12]:
p_alternative = 1-p2
p_alternative
type_1_error =.05 
power  = p_alternative - type_1_error/2
print("4.c) Power of the test",round(power,2))

4.c) Power of the test 0.85