## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [0]:
import pandas as pd
import tensorflow as tf

In [0]:
data = pd.read_csv('/content/drive/My Drive/ColabNotebooks/prices.csv')

### Check all columns in the dataset

In [67]:
data.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

### Drop columns `date` and  `symbol`

In [0]:
data = data.drop(['date','symbol'], axis =1 )

In [69]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [0]:
data = data.head(1000)

In [71]:
data.shape

(1000, 5)

In [72]:
data.columns

Index(['open', 'close', 'low', 'high', 'volume'], dtype='object')

In [0]:
data['volume'] = data['volume']/1000000

In [74]:
data.head()

         open       close         low        high  volume
0  123.430000  125.839996  122.309998  126.250000  2.1636
1  125.239998  119.980003  119.940002  125.540001  2.3864
2  116.379997  114.949997  114.930000  119.739998  2.4895
3  115.480003  116.620003  113.500000  117.440002  2.0063
4  117.010002  114.970001  114.089996  117.330002  1.4086

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split

X =  data.drop("volume", axis=1)
y =  data.pop("volume")
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

#### Convert Training and Test Data to numpy float32 arrays

In [0]:
import numpy as np
X_train = np.asarray(X_train)
y_train = np.asarray(y_train)

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn import preprocessing
X_normalized = preprocessing.normalize(X, norm='l2')

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
x = tf.placeholder(shape=[None,4],dtype=tf.float32, name='x-input')
x_n = tf.nn.l2_normalize(x,1)
y_ = tf.placeholder(shape=[None],dtype=tf.float32, name='y-input')

W = tf.Variable(tf.zeros(shape=[4,1]), name="Weights")
b = tf.Variable(tf.zeros(shape=[1]),name="Bias")

2.Define a function to calculate prediction

In [0]:
y = tf.add(tf.matmul(x_n,W),b,name='output')

3.Loss (Cost) Function [Mean square error]

In [0]:
loss = tf.reduce_mean(tf.square(y-y_),name='Loss')

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
train_op = tf.train.GradientDescentOptimizer(0.03).minimize(loss)

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [0]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())
training_epochs = 100

In [83]:
for epoch in range(training_epochs):
    _, train_loss = sess.run([train_op,loss],feed_dict={x:X_train, y_:y_train})
    if epoch % 5 == 0:
        print ('Training loss at step: ', epoch, ' is ', train_loss)

Training loss at step:  0  is  225.87958
Training loss at step:  5  is  203.89145
Training loss at step:  10  is  197.76749
Training loss at step:  15  is  196.0619
Training loss at step:  20  is  195.58687
Training loss at step:  25  is  195.45459
Training loss at step:  30  is  195.41777
Training loss at step:  35  is  195.40747
Training loss at step:  40  is  195.40462
Training loss at step:  45  is  195.40384
Training loss at step:  50  is  195.40361
Training loss at step:  55  is  195.40355
Training loss at step:  60  is  195.40353
Training loss at step:  65  is  195.40353
Training loss at step:  70  is  195.40353
Training loss at step:  75  is  195.40353
Training loss at step:  80  is  195.40353
Training loss at step:  85  is  195.40353
Training loss at step:  90  is  195.40353
Training loss at step:  95  is  195.40353

### Get the shapes and values of W and b

In [84]:
W.shape

TensorShape([Dimension(4), Dimension(1)])

In [85]:
b.shape

TensorShape([Dimension(1)])

### Model Prediction on 1st Examples in Test Dataset

In [86]:
test_loss = sess.run([loss],feed_dict={x:X_test, y_:y_test})
print ('Training loss at step:is ', test_loss)

Training loss at step:is  [241.01949]

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [0]:
keras_data = pd.read_csv('/content/drive/My Drive/ColabNotebooks/11_Iris.csv')

In [89]:
keras_data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [0]:
keras_data = pd.get_dummies(keras_data, prefix=['Species'], columns=['Species'])

In [92]:
keras_data.head()

   Id  SepalLengthCm  ...  Species_Iris-versicolor  Species_Iris-virginica
0   1            5.1  ...                        0                       0
1   2            4.9  ...                        0                       0
2   3            4.7  ...                        0                       0
3   4            4.6  ...                        0                       0
4   5            5.0  ...                        0                       0

[5 rows x 8 columns]

In [99]:
keras_data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species_Iris-setosa', 'Species_Iris-versicolor',
       'Species_Iris-virginica'],
      dtype='object')

In [98]:
type(data)

pandas.core.frame.DataFrame

### Splitting the data into feature set and target set

In [0]:
from sklearn.model_selection import train_test_split
X =  keras_data.drop(["Species_Iris-setosa","Species_Iris-versicolor","Species_Iris-virginica","Id"], axis=1)
y =  keras_data[["Species_Iris-setosa","Species_Iris-versicolor","Species_Iris-virginica"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [108]:
from keras.models import Sequential
from keras.layers import Dense

# create model
model = Sequential()
model.add(Dense(12, input_dim=4, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(3, activation='sigmoid'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

WARNING: Logging before flag parsing goes to stderr.
W0721 11:16:31.101130 139815947892608 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0721 11:16:31.108166 139815947892608 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0721 11:16:31.115797 139815947892608 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0721 11:16:31.168733 139815947892608 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0721 11:16:31.195473 139815947892608 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

### Model Training

In [110]:
model.fit(X_train,y_train , epochs=100, batch_size=10)

W0721 11:17:37.409340 139815947892608 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W0721 11:17:37.475849 139815947892608 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/100
105/105 [==============================] - 0s 3ms/step - loss: 1.5848 - acc: 0.3429
Epoch 2/100
105/105 [==============================] - 0s 435us/step - loss: 1.1925 - acc: 0.4667
Epoch 3/100
105/105 [==============================] - 0s 419us/step - loss: 1.0854 - acc: 0.6952
Epoch 4/100
105/105 [==============================] - 0s 431us/step - loss: 1.0465 - acc: 0.6952
Epoch 5/100
105/105 [==============================] - 0s 416us/step - loss: 1.0250 - acc: 0.6952
Epoch 6/100
105/105 [==============================] - 0s 441us/step - loss: 1.0044 - acc: 0.6952
Epoch 7/100
105/105 [==============================] - 0s 427us/step - loss: 0.9830 - acc: 0.6952
Epoch 8/100
105/105 [==============================] - 0s 425us/step - loss: 0.9600 - acc: 0.6952
Epoch 9/100
105/105 [==============================] - 0s 409us/step - loss: 0.9385 - acc: 0.6952
Epoch 10/100
105/105 [==============================] - 0s 401us/step - loss: 0.9128 - acc: 0.6952
Epoch 11/100
105/105 [==============================] - 0s 441us/step - loss: 0.8839 - acc: 0.6952
Epoch 12/100
105/105 [==============================] - 0s 428us/step - loss: 0.8545 - acc: 0.6952
Epoch 13/100
105/105 [==============================] - 0s 426us/step - loss: 0.8265 - acc: 0.6952
Epoch 14/100
105/105 [==============================] - 0s 426us/step - loss: 0.7987 - acc: 0.6952
Epoch 15/100
105/105 [==============================] - 0s 401us/step - loss: 0.7645 - acc: 0.6952
Epoch 16/100
105/105 [==============================] - 0s 395us/step - loss: 0.7330 - acc: 0.6952
Epoch 17/100
105/105 [==============================] - 0s 417us/step - loss: 0.6979 - acc: 0.6952
Epoch 18/100
105/105 [==============================] - 0s 417us/step - loss: 0.6614 - acc: 0.6952
Epoch 19/100
105/105 [==============================] - 0s 441us/step - loss: 0.6280 - acc: 0.7238
Epoch 20/100
105/105 [==============================] - 0s 414us/step - loss: 0.5961 - acc: 0.7619
Epoch 21/100
105/105 [==============================] - 0s 437us/step - loss: 0.5660 - acc: 0.8095
Epoch 22/100
105/105 [==============================] - 0s 421us/step - loss: 0.5403 - acc: 0.8762
Epoch 23/100
105/105 [==============================] - 0s 554us/step - loss: 0.5121 - acc: 0.8476
Epoch 24/100
105/105 [==============================] - 0s 420us/step - loss: 0.4874 - acc: 0.9333
Epoch 25/100
105/105 [==============================] - 0s 401us/step - loss: 0.4727 - acc: 0.8762
Epoch 26/100
105/105 [==============================] - 0s 480us/step - loss: 0.4663 - acc: 0.8857
Epoch 27/100
105/105 [==============================] - 0s 453us/step - loss: 0.4314 - acc: 0.9429
Epoch 28/100
105/105 [==============================] - 0s 427us/step - loss: 0.4147 - acc: 0.9333
Epoch 29/100
105/105 [==============================] - 0s 452us/step - loss: 0.3971 - acc: 0.9333
Epoch 30/100
105/105 [==============================] - 0s 489us/step - loss: 0.3905 - acc: 0.9048
Epoch 31/100
105/105 [==============================] - 0s 487us/step - loss: 0.3798 - acc: 0.9429
Epoch 32/100
105/105 [==============================] - 0s 471us/step - loss: 0.3550 - acc: 0.9333
Epoch 33/100
105/105 [==============================] - 0s 474us/step - loss: 0.3483 - acc: 0.9333
Epoch 34/100
105/105 [==============================] - 0s 428us/step - loss: 0.3319 - acc: 0.9524
Epoch 35/100
105/105 [==============================] - 0s 456us/step - loss: 0.3307 - acc: 0.9429
Epoch 36/100
105/105 [==============================] - 0s 456us/step - loss: 0.3130 - acc: 0.9429
Epoch 37/100
105/105 [==============================] - 0s 457us/step - loss: 0.3072 - acc: 0.9714
Epoch 38/100
105/105 [==============================] - 0s 461us/step - loss: 0.2924 - acc: 0.9429
Epoch 39/100
105/105 [==============================] - 0s 440us/step - loss: 0.2805 - acc: 0.9524
Epoch 40/100
105/105 [==============================] - 0s 470us/step - loss: 0.2786 - acc: 0.9619
Epoch 41/100
105/105 [==============================] - 0s 486us/step - loss: 0.2754 - acc: 0.9714
Epoch 42/100
105/105 [==============================] - 0s 458us/step - loss: 0.2613 - acc: 0.9429
Epoch 43/100
105/105 [==============================] - 0s 544us/step - loss: 0.2557 - acc: 0.9619
Epoch 44/100
105/105 [==============================] - 0s 392us/step - loss: 0.2545 - acc: 0.9429
Epoch 45/100
105/105 [==============================] - 0s 495us/step - loss: 0.2420 - acc: 0.9524
Epoch 46/100
105/105 [==============================] - 0s 487us/step - loss: 0.2470 - acc: 0.9429
Epoch 47/100
105/105 [==============================] - 0s 402us/step - loss: 0.2328 - acc: 0.9524
Epoch 48/100
105/105 [==============================] - 0s 528us/step - loss: 0.2296 - acc: 0.9429
Epoch 49/100
105/105 [==============================] - 0s 437us/step - loss: 0.2104 - acc: 0.9524
Epoch 50/100
105/105 [==============================] - 0s 469us/step - loss: 0.2532 - acc: 0.9238
Epoch 51/100
105/105 [==============================] - 0s 432us/step - loss: 0.2247 - acc: 0.9429
Epoch 52/100
105/105 [==============================] - 0s 436us/step - loss: 0.2188 - acc: 0.9333
Epoch 53/100
105/105 [==============================] - 0s 490us/step - loss: 0.2040 - acc: 0.9524
Epoch 54/100
105/105 [==============================] - 0s 468us/step - loss: 0.2038 - acc: 0.9619
Epoch 55/100
105/105 [==============================] - 0s 479us/step - loss: 0.2196 - acc: 0.9619
Epoch 56/100
105/105 [==============================] - 0s 535us/step - loss: 0.2012 - acc: 0.9619
Epoch 57/100
105/105 [==============================] - 0s 451us/step - loss: 0.2080 - acc: 0.9714
Epoch 58/100
105/105 [==============================] - 0s 473us/step - loss: 0.2293 - acc: 0.9524
Epoch 59/100
105/105 [==============================] - 0s 441us/step - loss: 0.1897 - acc: 0.9524
Epoch 60/100
105/105 [==============================] - 0s 461us/step - loss: 0.1780 - acc: 0.9619
Epoch 61/100
105/105 [==============================] - 0s 489us/step - loss: 0.1737 - acc: 0.9619
Epoch 62/100
105/105 [==============================] - 0s 477us/step - loss: 0.1803 - acc: 0.9619
Epoch 63/100
105/105 [==============================] - 0s 712us/step - loss: 0.1694 - acc: 0.9619
Epoch 64/100
105/105 [==============================] - 0s 425us/step - loss: 0.1562 - acc: 0.9619
Epoch 65/100
105/105 [==============================] - 0s 411us/step - loss: 0.1695 - acc: 0.9524
Epoch 66/100
105/105 [==============================] - 0s 412us/step - loss: 0.1670 - acc: 0.9524
Epoch 67/100
105/105 [==============================] - 0s 424us/step - loss: 0.2035 - acc: 0.9238
Epoch 68/100
105/105 [==============================] - 0s 428us/step - loss: 0.1804 - acc: 0.9238
Epoch 69/100
105/105 [==============================] - 0s 417us/step - loss: 0.1706 - acc: 0.9333
Epoch 70/100
105/105 [==============================] - 0s 412us/step - loss: 0.1606 - acc: 0.9429
Epoch 71/100
105/105 [==============================] - 0s 425us/step - loss: 0.1994 - acc: 0.9143
Epoch 72/100
105/105 [==============================] - 0s 428us/step - loss: 0.1908 - acc: 0.9429
Epoch 73/100
105/105 [==============================] - 0s 395us/step - loss: 0.1445 - acc: 0.9524
Epoch 74/100
105/105 [==============================] - 0s 399us/step - loss: 0.1572 - acc: 0.9524
Epoch 75/100
105/105 [==============================] - 0s 408us/step - loss: 0.1571 - acc: 0.9714
Epoch 76/100
105/105 [==============================] - 0s 395us/step - loss: 0.1493 - acc: 0.9714
Epoch 77/100
105/105 [==============================] - 0s 404us/step - loss: 0.1382 - acc: 0.9333
Epoch 78/100
105/105 [==============================] - 0s 486us/step - loss: 0.1677 - acc: 0.9238
Epoch 79/100
105/105 [==============================] - 0s 414us/step - loss: 0.1488 - acc: 0.9524
Epoch 80/100
105/105 [==============================] - 0s 468us/step - loss: 0.1466 - acc: 0.9524
Epoch 81/100
105/105 [==============================] - 0s 471us/step - loss: 0.1411 - acc: 0.9619
Epoch 82/100
105/105 [==============================] - 0s 464us/step - loss: 0.1492 - acc: 0.9619
Epoch 83/100
105/105 [==============================] - 0s 638us/step - loss: 0.1594 - acc: 0.9333
Epoch 84/100
105/105 [==============================] - 0s 697us/step - loss: 0.1293 - acc: 0.9714
Epoch 85/100
105/105 [==============================] - 0s 491us/step - loss: 0.1364 - acc: 0.9429
Epoch 86/100
105/105 [==============================] - 0s 457us/step - loss: 0.1573 - acc: 0.9619
Epoch 87/100
105/105 [==============================] - 0s 422us/step - loss: 0.1313 - acc: 0.9714
Epoch 88/100
105/105 [==============================] - 0s 425us/step - loss: 0.1371 - acc: 0.9619
Epoch 89/100
105/105 [==============================] - 0s 459us/step - loss: 0.1516 - acc: 0.9429
Epoch 90/100
105/105 [==============================] - 0s 458us/step - loss: 0.1391 - acc: 0.9524
Epoch 91/100
105/105 [==============================] - 0s 446us/step - loss: 0.1346 - acc: 0.9524
Epoch 92/100
105/105 [==============================] - 0s 448us/step - loss: 0.1362 - acc: 0.9619
Epoch 93/100
105/105 [==============================] - 0s 431us/step - loss: 0.1368 - acc: 0.9619
Epoch 94/100
105/105 [==============================] - 0s 507us/step - loss: 0.1492 - acc: 0.9524
Epoch 95/100
105/105 [==============================] - 0s 460us/step - loss: 0.1325 - acc: 0.9714
Epoch 96/100
105/105 [==============================] - 0s 439us/step - loss: 0.1488 - acc: 0.9333
Epoch 97/100
105/105 [==============================] - 0s 461us/step - loss: 0.1454 - acc: 0.9333
Epoch 98/100
105/105 [==============================] - 0s 451us/step - loss: 0.1497 - acc: 0.9333
Epoch 99/100
105/105 [==============================] - 0s 467us/step - loss: 0.1170 - acc: 0.9714
Epoch 100/100
105/105 [==============================] - 0s 475us/step - loss: 0.1306 - acc: 0.9524

### Model Prediction

In [112]:
scores = model.evaluate(X_train, y_train)
scores[1]*100

105/105 [==============================] - 0s 228us/step

96.19047624724251

### Save the Model

In [0]:
model.save('/content/drive/My Drive/ColabNotebooks/model.hdf')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?